<h1>Your profile page</h1>
<p>Welcome, {{firstname}}!</p>
<content>
    <div class="profile-pic">
        {{#if avatar}}
        <img src="../images/{{avatar}}" alt="Your profile pic" />
        {{else}}
          <img src="../images/avatarPlaceholder.png" alt="Your profile pic" />
          {{/if}}
        <form action="/users/{{id}}" enctype="multipart/form-data" method="POST" class="pic-form">
        <input type="file" name="file">
        <input type="submit" value="Change the avatar">
        </form>
    </div>
    <div class="data-table" data-userid="{{id}}">
        <table class="table table-condensed table-striped table-bordered">
            <tr>
                <td>Your real name:</td>
                <td><div contenteditable="true" id="firstname-tab">{{firstname}}</div></td>
            </tr>
            <tr>
                <td>Your email:</td>
                <td><div contenteditable="true" id="email-tab">{{email}}</div></td>
            </tr>
            <tr>
                <td>Your username:</td>
                <td><div contenteditable="true" id="username-tab">{{username}}</div></td>
            </tr>
            <tr>
                <td>Your role:</td>
                <td><div contenteditable="true" id="role-tab">{{role}}</div></td>
            </tr>
        </table>
    </div>
<script src="../javascripts/userpagemodifier.js"></script>
</content>
